html {            /*Poner estas lineas para cuadrar el tamaño de todo y no tener que sumar por separado el tamaño de los paddings, bordes etc*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    } 
    
    *, 
    *:before, 
    *:after { 
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: inherit; 
    -moz-box-sizing: inherit; 
    box-sizing: inherit; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 

    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h4 {
        font-size: 1.5em;
    }



    #imgfondo {
    background: url('fondo.jpg');
    height: 1200px;
   
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    
    }
    
    div#body{       
        
        padding-top: 10%;                    /*Sera el contenedor donde iran todas las preguntas y respuestas*/
        width: 600px;
        min-height: 100px;
        margin: 50px auto;
        padding-bottom: 25%;
        
    }


    div.subapartado {                               /*Para cada faq necesitaremos un contenedor, en el estara solo una pregunta y una respuesta*/ 
        width: 600px;
        min-height:100px;

        
        
    
    }


    div.titulo{                                     /* Esta es la cajita que contendra el titulo de la pregunta*/
        width: 600px;
        height: 50px;
 
        overflow: hidden;
        cursor: pointer;
        border-bottom: solid 1px white ;
        display: grid;
        grid-template-columns: 90% 50%;
        grid-gap: 0px;
       
    }

    p.titulo{                                       /*el parrafo de la pregunta */
       
        color: white;
        display: inline;
       padding-top: 3%;
        
    }

    img.flecha {
       padding-top: 3%;
    }


    div.info{                                       /*Esta es la cajita de la respuesta */
        width: 600px;
        height: 0px;
        background-color: lightgrey;
        overflow: hidden;                           /* le pongo hidden para que se oculte, y luego llamarlo con el hover*/
        -webkit-transition: height 0.5s;     
        border-radius: 15px;          
         /* una propiedad que encontré investigando para ponerle una animación pequeña*/
        

    }


    p.info {                                        /*el parrafo de la respuesta*/
        margin: 60px;
        text-align: center;
        color:#311758;
        
    }

    div.subapartado:hover div.info{                 /*Al pasar el ratón (por eso un hover) por el div de subapartado haga X cosa con el div de info*/

        height: 180px;
    }

#noria{
    height: 800px;
    width: 100%;
}




/*************************/


.desplegable {
    background-color: blueviolet;
}

#container {
    margin: 20px auto;

    width: 80%;
    
}

#FAQS {
    text-align: center;
    padding-bottom: 5em;
}

