*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}




.nav-bar {
        
    background-color: black;
    color: white;
   
   
       
                        
}

#logo {
    width: 50px;
    display: inline;
    float: right;
}

.nav-bar li{
    height: 100%;
    display: inline-block;
    margin: auto, auto;
    padding-right: 10em;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    margin: 5px;
}


#imgfondo {
    background: url('fondoplano.jpg');
    height: 1600px;
    
    
    }