
    /******************************* RESET CSS **********************************/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/************************** SOMBREADO DE TODOS LOS LI ***************************/

li:hover {
    background:#FFFFFF80;
}

/************************* TODAS LAS ETIQUETAS A EN BLANCO **********************/

a {
    color: white;
}

.subapartado a {
  color: #401467;
  font-size: 20px;
}



/********************************** BODY ***************************************/

.lista a {
  
  padding-left: 12%;
    padding-right: 12%;

}
.lista strong {
  
  text-decoration: underline;
  font-size: 18px;

}
/****************************** NAVEGADOR ***************************************/

#container {
    position: fixed;                           /*prefijos de los navegadores*/
    top: 0px;                   /*para que cuando llegue el scroll a 0, se lo lleve */
    z-index:100;
    width: 100%;
}

.nav-bar {
    color: white;
    border-bottom: solid 1px white;
}

.nav-bar {
    color: white;      
}

#logo {
    width: 50px;
    display: inline;
    float: right;
    padding-right: 40px;
    padding-top: 15px;
}

.nav-bar li{
    height: 100%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: larger;
    margin: 1%;
}

#navegador {
    background-color: #401467;
    
 }


#fondo {
    background: url('fondoplano.jpg'); /*Fondo de la web*/
    height:2000px;
    background-attachment: fixed; /*esta fijado para que no se mueva al hacer scroll*/

    
    }


/******************************************** CATALOGO ****************************************************************/

   p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div#body{       
    
    padding-top: 3%;                    /*Contenedor global para las plataformas*/
    width: 600px;
    min-height: 100px;
    margin: 50px auto;
    
    
}


div.subapartado {                               /*Contenedor para cada plataforma y su descripción*/ 
    width: 600px;
    min-height:100px;

    


}


div.titulo{                                     /* Aqui va el nombre de cada plataforma. Esta oculto (hidden) para que no haya overflow mostrado */
    width: 600px;
    height: 50px;

    overflow: hidden;
    cursor: pointer;                            /*que el cursor se cambie a pointer*/
    border-bottom: solid 1px white ;
    display: grid;
    grid-template-columns: 90% 50%;  /*La propiedad grid sirve para repartir en tablas el espacio que le digamos, en este caso, el 90% uno y 50% otro*/
    grid-gap: 0px; /*separacion entre las tablas del grid*/
   
}

p.titulo{                                       /*Parrafo del nombre del servicio*/
   
    color: white;
    display: inline;
   padding-top: 3%;
    
}
/*************************IMAGEN CON ANIMACION**************************/
img.flecha {
   padding-top: 3%;               /*Animación cogida de la parte de Estrella para conservar el formato (y por que está chula)*/
   transition: all 2s;
      -webkit-transition: all 0.5s;   
      }


.flecha:hover { transform:rotate(360deg) scale(0.4,0.4);
        
        -o-transform:rotate(360deg) scale(0.4,0.4);     
        }


/*************************CAJA DESPLEGABLE**************************/

div.info{                                       /*Esta es la cajita de la respuesta */
    width: 600px;
    height: 0px;                                /*tiene largo 0 para que no se vea hasta que sea llamado con HOVER (info en el apartado animacion con hover)*/
    background-color: lightgrey;
    overflow: hidden;                           /*le pongo hidden para que se oculte lo que sobresalga del contenedor*/
    -webkit-transition: height 0.5s;     
    border-radius: 15px;   /*para recondear los bordes de la caja blanca*/       
     /*el webkit transition es una propiedad que encontré investigando para ponerle una animación pequeña*/
    

}


p.info {                                        /*el parrafo de la respuesta*/
    margin: 50px;
    margin-bottom: 10px;
    text-align: center;
    color:#311758;
    
}


/*************************ANIMACION CON HOVER**************************/
div.subapartado:hover div.info{                 /*Cuando pasas el ratón (hover) por el div de subapartado interactúe con el div de info*/

    height: 180px;
}

/*Al pasar el raton por la caja subapartado, el div de la info pasa de tener 0 de altura a tener 180.*/

/*************************************FORMATO DEL LOGO DEL CATALOGO******************************************/


.catalogoimg img {
 width: 25%;

}

.catalogoimg {
  padding-top: 10%;
  text-align: center;
}


/********************************************FOOTER****************************************************************/


.tabla {

  padding: 50px;
  padding-top: 98px;
  width: 20%;
  display: block;
}

.parrafopie {
font-family: "Roboto", sans-serif;
 color: white;
 padding-top: 300PX;
 padding-right: 38px;
 float: right;
 display: block;
}

.celda {
     color:  white;
     padding-top: 8px;
     padding-right: 10em;

}

#logo2{
    width: 50px;
    display: block;
    float:left;
    padding-left: 50px;
    padding-top: 30px;
}

footer {

    background: url('noria.jpg');
    height: 350px;

}

/********************************************LOGOS DE LAS PLATAFORMAS****************************************************************/

.plataformas {
    padding-top: 15%;
    text-align: center;
}

.plataformas img{
    width: 200px;
    height: 100px;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;

}

h1 {
  color: white;
  text-align: center;  /*Texto de introducción a los enlaces de las páginas*\
}